{% extends "auctions/layout.html" %}

{% block body %}
 
<div class="container">
{% if message %}
    {% if update %}
        <div class="alert alert-success" role="alert">
            {{message}}
        </div>
        {% else %}
        <div class="alert alert-danger" role="alert">
            {{message}}
        </div>
    {% endif %}
{% endif %}
</div>
{% if not listing.isActive and user == listing.price.user %}    
<div class="alert alert-success" role="alert">
    Congratulation!! You won the Auction.
</div>
{% endif %}



  <div class="row mx-2">
    {% if user.is_authenticated and listing.isActive %}
        {% if isOwner %} 
        <form action="{% url 'closeAuction' id=listing.id %}" method="POST" class="mx-3">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Close Auction</button>
        </form>
        {% endif %}
        {% if isListingInWatchlist %}
            <form action="{% url 'removewatchlist' id=listing.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Remove from watchlist</button>
            </form>
        {% else %}
        <form action="{% url 'addwatchlist' id=listing.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-success">Add to watchlist</button>
        </form>
        {% endif %}
    {% endif %}
  </div>

  <p style="margin: 10px;">Category: {{ listing.category }}</p>
  <h2 style="margin-bottom: 15px;">Product: {{ listing.title }}</h2>
  <img style="width: 400px;" src="{{ listing.imageUrl }}" alt="{{ listing.tilte }}">
  <h3 style="margin: 10px;;">$ {{ listing.price.bid }}</h3>
  <p><strong>Decription: </strong>{{ listing.description }} </p>
  <p><strong>Owner: </strong>{{ listing.owner }} </p>
  {% if user.is_authenticated %}
        <form action="{% url 'addbid' id=listing.id %}" method="POST">
          {% csrf_token %}
          <div class="form-group">
              <label for="price" style="margin: 10px;">Add bid:</label>
              <input type="number" min="0" name="newbid" placeholder="Add New bid">
              <button type="submit" class="btn btn-primary">Add</button>
          </div>
        </form>
  {% endif %}

      <h2 style="margin: 10px;">Comments</h2>
      {% if user.is_authenticated %}
          <form action="{% url 'addComment' id=listing.id %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label style="margin: 10px;">Add Comments:</label>
                <input type="text" name="newComment" placeholder="Add new comments">
                <button type="submit" class="btn btn-warning">Submit</button>
            </div>
          </form>
      {% endif %}
      <br/>
   <ul class="list-group">
      {% for comment in allComments %}
            <li class="list-group-item">
                {{ comment.message }}
                <br/>
                <p>Poated by <strong>{{ comment.author }}</p></strong>
            </li>
      {% endfor %}
   </ul>
{% endblock %}