{% extends "layout.html" %}

{% block title %}
    Emails
{% endblock %}

{% block main %}
<h1 class="emails">EMAILS</h1>
  <div class="list">
   <div class="center-div">
      <ul class="list-group">
        <li style="background-color:ghostwhite" class="list-group-item"><strong>Sender:</strong> {{ emailDetail.sender }} </li>
        <li style="background-color:ghostwhite" class="list-group-item"><strong>To:</strong> {{ emailDetail.recipient }} </li>
        <li style="background-color:ghostwhite" class="list-group-item"><strong>Subject:</strong> {{ emailDetail.subject }} </li>
        <li style="background-color:ghostwhite" class="list-group-item"><strong>Timing:</strong> {{ emailDetail.timestamp }} </li>
        <li style="background-color:ghostwhite" class="list-group-item"><strong>Body:</strong> {{ emailDetail.body }} </li>
      </ul>
   </div>
   <div class="button">
   <div class="my-3">
       <form action="reply" method="post">
          <input type="hidden" name="emailId" value="{{ emailDetail.id }}">
          <input type="submit" class="btn btn-success" value="Reply">
       </form>
    </div>
   </div>
  </div>
{% endblock %}

