{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
<h2 class="login">Login to your Account</h2>
   <div class="style">
    <form action="/login" method="post">
       <div class="formr">
        <div class="mb-3">
            <input autocomplete="off" aria-describedby="emailHelp" autofocus class="form-control mx-auto w-auto" id="email_id" name="email_id" placeholder="Enter your email id" type="email">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <div class="body">
        <button class="btn btn-primary" type="submit">Log In</button>
        </div>
        </div>
   </form>
      <div class="button">
       <a><strong>Don't have an account?</strong></a> <a href="/register"><strong style="color:tomato"> Register</strong></a>
      </div>
  </div>
{% endblock %}
