{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
<h2 class="register">Register to your Account</h2>
  <div class="style">
    <form action="/register" method="post">
       <div class="formr">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="email_id" name="email_id" placeholder="Enter your email id" type="email">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="confirmation" placeholder="Confirm Password" type="password">
        </div>
       <div class="body">
        <button class="btn btn-primary" type="submit">Register</button>
       </div>
       </div>
    </form>
    <div class="button">
    <a><strong>Already have an account!</strong></a> <a href="/login"><strong style="color:tomato"> Login</strong></a>
    </div>
 </div>
{% endblock %}