{% extends "layout.html" %}

{% block title %}
    Reply
{% endblock %}

{% block main %}
<h1 class="reply">Reply to Sender</h1>
  <div class="replied">
    <form action="/compose" method="post">
      <div class="formrp">
        <div class="text">
        <div class="mb-3">
            <a><strong>From:</strong></a><input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="email_id" name="sender" placeholder="Sender" value="{{ emailDetail.recipient }}"  type="email">
        </div>
        <div class="mb-3">
            <a><strong>To:</strong></a><input class="form-control mx-auto w-auto" id="recipient" name="recipient" type="email" placeholder="Recipient" value="{{ emailDetail.sender }}" >
        </div>
        <div class="mb-3">
            <a><strong>Subject:</strong></a><input class="form-control mx-auto w-auto" id="subject" name="subject" type="text" placeholder="Subject" value="{{ emailDetail.subject }}">
        </div>
        </div>
        <div class="body">
        <div class="mb-3">
            <textarea name="body" placeholder="Body"></textarea>
        </div>
        </div>
        <button class="btn btn-primary" type="submit">Reply</button>
        </div>
      </div>
    </form>
 </div>
{% endblock %}