/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

textarea{
    width: 205px;
    height: 100px;
    border: 3px solid lightgrey;
    border-radius: 10px;
}

.list-group{
    display: flex;
    width:100%;
    flex-direction: row;
    justify-content: flex-start;
    text-align: left;
    border: 2px solid lightgrey;
}




.center-div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: ghostwhite;
}

.inbox{
    background-color: white;
    color: black;
}
.compose{
    background-color: white;
    color: black;
}

.sent{
    background-color: white;
    color: black;
}

.register{
    background-color: white;
    color: black;

}

.login{
    background-color: white;
    color:black;
    text-align: center;

}

.reply{
    background-color: white;
    color: black;
}

.emails{
    background-color: white;
    color: black;
}


.navbar{
      padding: 15px;
      text-align: left;
      background: #1abc9c;
      color: white;
}

.style{
    display: inline-block;
    border-radius: 5px;
    width: 500px;
    margin-left: 10px;
    height: 100%;

}

.bgc{
    background-color: green;
}

.foot{
  text-align: center;
  padding: 3px;
  background-color:black;
  color: white;
}

.replied{
    display: inline-block;
    border-radius: 5px;
    width: 500px;
    margin-left: 10px;
}

.form{
  width: 100%;
  height: 190px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: left;
  background-color: ghostwhite;

}

.formr{
    width: 100%;
  height: 230px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: left;
  background-color: ghostwhite;
}

.formrp{
  width: 100%;
  height: 430px;
  padding: 12px 20px;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: ghostwhite;
}



.forms{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: left;
  background-color: ghostwhite;
}

.formp{
  width: 100%;
  height: 400px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: left;
  background-color: ghostwhite;
}

.text{
    text-align: left;
    margin-right: -15px;
    margin-bottom: 10px;

}

.body{
    margin-left: 15px;
    text-align: center;
}

.button{
    text-align: center;
}

.list{

        width: 600px;
        padding: 10px 10px;
        margin: 8px 0;
        display: inline-block;
        border: 2px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        text-align: left;
        background-color: floralwhite;
        height: 300px;
}

.button{
    text-align: center;
    margin-bottom: 100px;
}

.bgimage{
    background-image:url('/static/body.jpg');
}

.opacity{
    opacity: 0.6;
}



